{% if user.is_authenticated %}
    <p>
        Welcome {{ user.username }}
    </p>

    <a href="{% url 'accounts:logout' %}">
        Logout
    </a>
{% endif %}

<h1>Available Routes</h1>

<ul>
    {% for route in routes %}
        <li>
            <a href="{% url 'routes:route_detail' route.id %}">
                {{ route.title }}

            </a>
    <p>
        Average Rating:
        {{ route.avg_rating }}
    </p>

    <p>
        Total Reviews:
        {{ route.review_count }}
    </p>

            -
            {{ route.transport_type.name }}
        </li>

    {% empty %}
        <li>No routes found.</li>

    {% endfor %}

</ul>
