{% if messages %}
    {% for message in messages %}
        <p>{{ message }}</p>
    {% endfor %}
{% endif %}

<h1>{{ route.title }}</h1>

<p>
    <strong>Transport:</strong>
    {{ route.transport_type.name }}
</p>

<p>
    <strong>Origin:</strong>
    {{ route.origin }}
</p>

<p>
    <strong>Destination:</strong>
    {{ route.destination }}
</p>

<h2>Stops</h2>

{% if user.is_authenticated %}
    <a href="{% url 'reviews:create' route.id %}">
        Write Review
    </a>
{% endif %}

<ol>
    {% for route_stop in route_stops %}
        <li>
            {{ route_stop.stop.name }}
        </li>
    {% empty %}
        <li>No stops found.</li>
    {% endfor %}
</ol>
<h2>Reviews</h2>

{% for review in reviews %}

    <div>

        <p>
            Rating:
            {{ review.rating }}/5
        </p>

        <p>
            {{ review.comment }}
        </p>

        <p>
            By:
            {{ review.user }}
        </p>

    </div>

    <hr>

{% empty %}

    <p>
        No reviews yet.
    </p>

{% endfor %}